@import "tailwindcss";

:root {
  --background: #FFF9F3;
  --foreground: #171717;
  --font-geist-sans: 'Helvetica Neue', Arial, sans-serif;
  --font-geist-mono: 'Menlo', 'Monaco', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-neo: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-neo-xl: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  --shadow-neo-green: 8px 8px 0px 0px #032e15;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans, "Helvetica Neue", Arial, sans-serif);
}
